/* todo main stylesheet */
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.container {
    width: 1358px;
    margin: 0 auto;
    padding: 0 10px;
}

/* the width is set to the entire container, not just the contents of the container  */

*, * ::before, * ::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* picture does not drop out of the container */
img {
    max-width: 100%;
    height: auto;
}

/* hides headers */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

/* todo banner */
.banner-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    visibility: visible;
    min-width: 1358px; /* For a block with a background that is truncated, we must set the min-width parameter with a value equal to the width of the widest incompressible block.*/
    height: 50px;
    background-color: #0066a1;
    text-overflow: clip;
}

.banner-wrapper p {
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.banner-close-btn {
    margin-left: 12px;
}

.banner-close-btn:hover .cross-1,
.banner-close-btn:focus .cross-1,
.banner-close-btn:hover .cross-2,
.banner-close-btn:focus .cross-2 {
    fill: #d9534f;
    stroke: #d9534f;
}

.banner-close-btn:hover .circle,
.banner-close-btn:focus .circle {
    stroke: #d9534f;
}

.svg-btn-close {
    margin-top: 15px;
}


/* todo menu-navigation*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 75px;
    width:1358px;
    margin: 0 auto;
    padding: 0 10px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}

.main-navigation figure {
    position: absolute;
    top: -8px;
    left: 40px;
    width: 86px;
    height: 86px;
}

.site-navigation {
    padding: 0;
    margin-left: 210px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4),
.site-navigation li:nth-child(5),
.site-navigation li:nth-child(6) {
    padding-left: 29px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    border-bottom: 2px solid #29a7db;
    color: #29a7db;
}

 .site-navigation-current a{
    border-bottom: 2px solid #29a7db;
    color: #29a7db;
}

.language-switch {
    padding: 0;
    margin-right:140px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    background: url("../img/separator.png") center no-repeat;
}

.language-current {
    color: #29a7db;
}

.language-switch .disabled {
    opacity: 0.5;
}

.language-switch-en {
    padding-left: 8px;
}

.search-field form {
    height: 42px;
}
.search-field input {
    height: 100%;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 2;
    font: inherit;
    cursor: pointer;
}
.search-field input:focus {
    width: 170px;
    z-index: 1;
    border-bottom: 2px solid #dd3300;
}
.search-field button {
    background: transparent;
    outline: none;
    border: none;
    height: 100%;
    width: 57px;
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
}
.search-field button:before {
    content: url("../img/magnifying-glass.png");
}

/* todo slider */
.features {
    height: 450px;
    background-color: #f7ecb5;
}

