/* todo main stylesheet */
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.container {
    width: 1358px;
    margin: 0 auto;
    padding: 0 10px;
}

/* the width is set to the entire container, not just the contents of the container  */

*, * ::before, * ::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* picture does not drop out of the container */
img {
    max-width: 100%;
    height: auto;
}

/* hides headers and checkboxes and radio-button */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}



/* todo banner */
.banner {
    visibility: visible;
    width: 100%;
    height: 50px;
    background-color: #0066a1 ;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
}

.content p {
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.banner-close-btn {
    margin-left: 12px;
}

.banner-close-btn:hover .cross-1,
.banner-close-btn:focus .cross-1,
.banner-close-btn:hover .cross-2,
.banner-close-btn:focus .cross-2 {
    fill: #d9534f;
    stroke: #d9534f;
}

.banner-close-btn:hover .circle,
.banner-close-btn:focus .circle {
    stroke: #d9534f;
}

.svg-btn-close {
    margin-top: 15px;
}


/* todo menu-navigation*/
.main-navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 75px;
    width:1358px;
    margin: 0 auto;
    padding: 0 10px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.main-navigation figure {
    position: absolute;
    top: -5px;
    left: 40px;
}

.site-navigation {
    margin-left: 210px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
}

.language-switch {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
}



/* todo slider */
.features {
    height: 450px;
    background-color: #f7ecb5;
}

